div.fvp-app-banner {
    background-color: #111111;
    color: #ffffff;
    height: 52px;
    font-size: 24pt;
    padding-top: 12px;
    padding-left: 12px;
}

div.fvp-app-subbanner {
    background-color: #eeeeee;
    padding-left: 12px;
    height: 22px;
    font-size: 10pt;
    padding-top: 2px;
}